<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Blythe Dorrian's J4502 website."/>
    <meta name="author" content="Blythe Dorrian"/>
    <meta name="keywords" content="Blythe Dorrian, J4502"/>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Poppins:ital,wght@1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css">

    <title>10 facts about me!</title>
  </head>
  <body>
    <h1>10 Fun Facts About Me</h1>
    <p>I love meeting new people while I have been away at school for the past three years. College has brought so many interesting people to me that I wouldn't have met if I hadn't been. As a journalist, I love finding the things that make people the way they are.</p>
    <p> I came up with 10 main facts so people in this class can get to know me a little better.</p>
  <main>
    <ol>
      <li>
      <li> I am an only child. However, I am extremely social. </li>
      <li> I have lived in four different states over the past ten years. Kansas, Florida, Oklahoma, and Missouri.</li>
      <li> My dream job in life is currently to be an NFL or an MLB photographer.</li>
      <li> I have never been out of the country before, but I have lived on an island! </li>
      <li> I have two shelter dogs. Bogey is a six-year-old shepherd mix, and Gracie is a 14-year-old Australlian terrier. </li>
      <li> I am a competitive swimmer, and I am on the Mizzou club team. You can probably catch me at some of the Mizzou meets. </li>
      <li> When I was younger, my dream job was to be a marine biologist. I then discovered I am bad at science, but I still love animals. </li>
      <li> My favorite thing to do on campus is go to the Rec. I love going to Pilates after a long stressful day. </li>
      <li> My favorite drink is anything lemonade. </li>
      <li> My favorite scent is lavender. I love flowers, or anything that smells like the woods/campfires. </li>
    </ol>

  </main>

</body>
</html>
